<nav class="header-bar">
    <a href="#" class="logo">FOODIE.</a>
    <div class="header-container" id="myDIV">
        <ul>
            <li class="header-btn active"><a onclick="setActive('Home')" href="/">Home</a></li>
            <li class="header-btn"><a onclick="setActive('Demo')" href="/user-input">Demo</a></li>
            <div onclick="openModal()" class="global-like">&#x2665; LIKED</div>
        </ul>
    </div>
</nav>

<script>
    function setActive(groupName) {
        var menuItems = document.querySelectorAll('.header-btn');
        menuItems.forEach(function (item) {
            item.classList.remove('active');
        });

        var clickedElement = document.querySelector(`[onclick="setActive('${groupName}')"]`);
        clickedElement.parentNode.classList.add('active');

        localStorage.setItem('activeLink', groupName);

        console.log(groupName + " link clicked!");
    }

    document.addEventListener('DOMContentLoaded', function () {
        var activeLink = localStorage.getItem('activeLink');
        if (activeLink) {
            setActive(activeLink);
        }
    });
</script>

<!-- <script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("header-btn");

    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            // Remove "active" class from all buttons
            for (var j = 0; j < btns.length; j++) {
                btns[j].classList.remove("active");
            }

            // Add "active" class to the clicked button
            this.classList.add("active");
        });
    }

    // Check if the link corresponds to the current page and set it as active
    var currentPath = window.location.pathname;
    for (var i = 0; i < btns.length; i++) {
        if (btns[i].querySelector("a").getAttribute("href") === currentPath) {
            // Remove "active" class from all buttons
            for (var j = 0; j < btns.length; j++) {
                btns[j].classList.remove("active");
            }

            // Add "active" class to the button corresponding to the current page
            btns[i].classList.add("active");
            break; // Break the loop after setting the active class
        }
    }

</script> -->
