<nav class="menu2-bar">
    <div id="myDIV2">
        <ul>
            <li class="menu2-btn active"><a onclick="setActive2('First')" href="/user-input">First</a></li>
            <li class="menu2-btn"><a onclick="setActive2('Second')" href="/auto-generation">Second</a></li>
            <li class="menu2-btn"><a onclick="setActive2('Third')" href="/food-input">Third</a></li>
        </ul>
    </div>

</nav>

<script>
    // Function to set active link
    function setActive2(groupName) {
        // Remove "active" class from all li elements
        var menuItems = document.querySelectorAll('.menu2-btn');
        menuItems.forEach(function (item) {
            item.classList.remove('active');
        });

        // Add "active" class to the clicked li element
        var clickedElement = document.querySelector(`[onclick="setActive2('${groupName}')"]`);
        clickedElement.parentNode.classList.add('active');

        // Store the active link in localStorage
        localStorage.setItem('activeLink2', groupName);

        // You can add additional logic here based on the groupName if needed
        console.log(groupName + " link clicked!");
    }

    // Check if there is an active link in localStorage and set it
    document.addEventListener('DOMContentLoaded', function () {
        var activeLink2 = localStorage.getItem('activeLink2');
        if (activeLink2) {
            setActive2(activeLink2);
        }
    });
</script>

<!-- <script>
    // Add active class to the current button (highlight it)
    var header2 = document.getElementById("myDIV2");
    var btns2 = header2.getElementsByClassName("menu2-btn");
    for (var i = 0; i < btns2.length; i++) {
        btns2[i].addEventListener("click", function () {
            // Remove "active" class from all buttons
            for (var j = 0; j < btns2.length; j++) {
                btns2[j].classList.remove("active");
            }
            // Add "active" class to the clicked button
            this.classList.add("active");
        });
    }

    // Check if the link corresponds to the current page and set it as active
    var currentPath = window.location.pathname;
    for (var i = 0; i < btns2.length; i++) {
        if (btns2[i].querySelector("a").getAttribute("href") === currentPath) {
            // Remove "active" class from all buttons
            for (var j = 0; j < btns2.length; j++) {
                btns2[j].classList.remove("active");
            }

            // Add "active" class to the button corresponding to the current page
            btns2[i].classList.add("active");
            break; // Break the loop after setting the active class
        }
    }

</script> -->